.weatherSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.weatherSection__searchBlock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(72, 72, 74, 0.1);
	margin-bottom: 40px;
}

.weatherSection__searchBlockContainer {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



