.weatherData {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 40px;
	width: 30%;
}

.weatherData__locationName {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.weatherData__tempEndIcon {
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
}

.weatherData__tempEndIconImg {
	width: 150px;
}

.weatherData__weatherDescription {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.weatherData__otherInfo {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.weatherData__otherInfoBlock {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: start;
	grid-gap: 10px;
	margin-bottom: 10px;
}

.weatherData__otherInfoBlock img{
	margin-right: 5px;
}
