.footerContainer {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(72, 72, 74);
	flex: 0 0 auto;
	color: #fff;
	padding: 2px 20px;
}

.footerContainer__contacts {
	display: flex;
	align-items: center;
}

.footerContainer__contactsLink {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.footerContainer__contactsLink:hover{
	color: #ecc695;
}

.footerContainer__contactsImg {
	margin: 5px;
}
